h1 {
  font-family: 'Libre Barcode 39 Text', cursive;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 45px;


}

h3 {
  font-family: 'Cutive Mono', monospace;
  text-align: center;
  font-size: 40px;


}

.navbar {
  font-family: 'Cutive Mono', monospace;

}

